## Class exercise Select
1. Use the ex1 table on the mysql_notebooks server
2. Select only those customers with less than `$3000` on the account

In [5]:
import sqlalchemy as s_a

SQLALCHEMY_DATABASE_URL = "mysql+mysqlconnector://root:root@db/db"
engine = s_a.create_engine(SQLALCHEMY_DATABASE_URL)
connection = engine.connect()
query = 'select * from ex1 where account < 3000'
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:]

[(1, 'Freddy M', 'Hallway 22, 34322 moral county', 1000.0, datetime.datetime(2002, 2, 3, 23, 0)),
 (2, 'Janice F', 'Hallway 24, 34322 moral county', 2000.0, datetime.datetime(2001, 2, 4, 23, 0)),
 (4, 'Freddy MÃ¥lÃ¸v', 'Hallway 22, 34322 moral county', 1000.0, datetime.datetime(2002, 2, 3, 23, 0))]

## Class exercise
create a pandas dataframe from below csv and turn it into a mysql table called: 'cars'

```csv
make,model,year,price
vw,up,2018,123000
audi,a6,2011,85000
citroen,c3,2019,143000
```

In [17]:
import pandas as pd
from sqlalchemy import create_engine

data_frame = pd.read_csv('data/cars.csv', delimiter=",")

conn = "mysql+mysqlconnector://root:root@db/db"
engine = create_engine(conn)
data_frame = data_frame.applymap(str)

try:
    data_frame.to_sql('cars', con=engine, if_exists='replace', index=True, index_label='id', method='multi')
    print("Database created!")
except:
    print("Sorry, couldn't create SQL database.")

Database created!

## Exercise
1. Create a restful webservice that can respond to the following requests:  

|Method|URL|Example|Response|Description|
|--|--|--|--|--|
|GET|/datagenerator/api/person/{no}|/datagenerator/api/person/100|[{"id":1,"name":"Holger"},{},{}]|Returns 100 person objects|
|POST|datagenerator/api/person|POST json: {"name":"Henrietta"}|{"id":101,"name":"Henrietta"}|Adds a new Person object to the list of persons on the server|

2. Use a Mysql table to store and retrieve Person objects

In [ ]:
# Look in the "Flask" folder in the file: "flask_app_exercise.py"