#### 1. Use the range() function to make a list of the odd numbers from 1 to 20. Hint in ipython and this notebooks you can see a functions help text by executing for example range?

In [1]:
odd_numbers = [num for num in range(1,20+1) if num%2==1]
print(odd_numbers)

#### 2. Create a list with the even number values from two to one million. Use min(list) and max(list) to make sure your list actually starts at two and ends at one million. Also, use the sum(list) function to compute the sum of all values.

In [2]:
even_numbers = [num for num in range(2,2000000+1) if num%2==0]
print("Min: ", min(even_numbers))
print("Max: ", max(even_numbers))
print("Sum of all: ", sum(even_numbers))

Min:  2
Max:  2000000
Sum of all:  1000001000000

#### 3. Create a list of the multiples of 3 - going from 3 to 300. HINT: USE A LIST COMPREHENSION

In [3]:
numbers = [num for num in range(3,300+1) if num%3==0]
print(numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#### 4. A number raised to the third power is called a cube. For example, the cube of 2 is written as 2**3 in Python. Create a list of the first 10 cubes (that is, the cube of each integer from 1 through 10).

In [4]:
cubes = [num**3 for num in range(1,10+1)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]